[Unit]
Description=PiRadio API
After=mosquitto.service
Requires=mosquitto.service

[Service]
WorkingDirectory=/home/pi/git/piradio-py/
ExecStart=/home/pi/git/piradio-py/env/bin/python api.py

[Install]
WantedBy=multi-user.target

